.header__main {
  font-size: 6.4rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.text__main {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.4;
}

.margin__top {
  margin-top: 5rem;
}

.margin__bottom{
  margin-bottom: 5rem;
}

.header__secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}
