.booking-container {
  width: 100%;
  height: 120vh;
  background-image: url(/images/reserve-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: 0px -600px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.reserve-info-container .logo-box {
  width: 10rem;
  margin-top: 8rem;
  display: inline-block;
}

.header__reservations {
  color: white;
  margin-top: 10rem;
}

.beaver-lines__reservation {
  width: 14rem;
  position: absolute;
  right: 60rem;
  bottom: -2rem;
  z-index: 3;
}

.gray-vector__reservation {
  width: 260%;
  margin-top: 7.5rem;
  margin-left: -15rem;
  transform: scaleX(-1);
  transform: rotateX(180deg);
}

.reserve-txt {
  width: 48rem;
  margin-top: 2rem;
}

.card-container {
  background-color: white;
  width: 53rem;
  height: 54rem;
  transform: translateY(20rem);
  box-shadow: 2rem 5rem 4rem rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.card-content {
  margin: 2rem 6rem;
  position: relative;
}

.input {
  background-color: transparent;
  border-bottom: 1px solid #555;
  color: #555;
  box-sizing: border-box;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  margin-top: 2rem;
}

input::-webkit-input-placeholder {
  color: #555;
}

input:focus::-webkit-input-placeholder {
  color: #a08069;
}

.input:focus + .underline {
  transform: scale(1);
}

.underline {
  background-color: #a08069;
  display: inline-block;
  height: 2px;
  position: absolute;
  margin-top: 6.7rem;
  left: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
}
input::-webkit-input-placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: #a08069;
}

.input:focus + .underline {
  transform: scale(1);
}

.input-date {
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid #555 !important;
  color: #555;
  box-sizing: border-box;
  padding: 1rem 0;
  position: relative;
  outline: none;
  letter-spacing: 2px;
  font-size: 1.8rem;
  width: 100%;
}
input-date::-webkit-input-placeholder {
  color: #aaa;
  text-transform: uppercase !important;
}

.input-label {
  color: #aaa;
  padding: 15px 0px;
  font-size: 1.8rem;
  width: 45%;
}

.time-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.glyphicon {
  color: black;
}

.error-msg {
  font-size: 10px;
  color: #f75959;
  position: absolute;
  margin-top: 8px;
}

.card-content .custom-btn {
  margin-top: 60px;
}

.increase-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.decrement-box {
  cursor: pointer;
}

.minus {
  width: 80%;
}

.people-txt {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.increment-box {
  cursor: pointer;
  padding-bottom: 10px;
}

.date-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 0;
}

.time-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0;
}
