.family-gathering {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.beaver-lines__fg {
  position: absolute;
  width: 15rem;
  top: 10rem;
  left: 12rem;
  z-index: 4;
}

.slides-container {
  position: relative;
  width: 50rem;
  z-index: 2;
  top: 15%;
}
.gray-vector-slideshow-bg {
  width: 1050px;
  z-index: -1;
  position: absolute;
  transform: translate(-420px, 200px);
  opacity: 0.5;
  top: -200px;
  left: -100px;
}
.img-slide {
  box-shadow: 2rem 5rem 4rem rgba(0, 0, 0, 0.1);
  position: absolute;
}

.family-events-text-box {
  color: var(--ebonyClay);
  position: relative;
  width: 40%;
  top: 20%;
}

.fg_btn {
  position: absolute;
  top: 40rem;
  right: 47.5rem;
}
.event-names {
  width: 25rem;
  position: absolute;
  font-size: 14px;
  bottom: 20rem;
  right: 44rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700px;
}

.event-text {
  font-weight: 500;
  color: var(--ebonyClay);
  position: absolute;
  margin-left: 10rem;

  p {
    margin-top: 3rem;
  }
}

.event-txt {
  top: 10rem;
  margin-top: 3rem;
}

.indicator-lines-cont {
  width: 100px;
  z-index: 5;
  position: absolute;
  top: 48.5rem;
  right: 71rem;
}

.indicator-line1 {
  position: absolute;
  width: 20rem;
  margin-top: 0px;
}
.indicator-line2 {
  position: absolute;
  width: 20rem;
  margin-top: 5rem;
}
.indicator-line3 {
  position: absolute;
  width: 20rem;
  margin-top: 10rem;
}

.event-txt-light {
  width: 250px;
  position: absolute;
  font-size: 1.4rem;
  bottom: 20rem;
  right: 44rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.event-txt-light li {
  margin-top: 3rem;
  opacity: 0.5;
  font-weight: 400;
  color: #999;
}
