.make-reservation {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(/images/reserve-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: 0px -500px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 0;
    height: 30rem;
  }

  @include respond(phone) {
    height: 40rem;
  }
}
.make-reservation h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  align-self: center;
  display: flex;
  justify-self: center;

  @include respond(phone) {
    text-align: center;
  }
}
.reserve-link {
  align-self: center;
  margin-left: 10rem;

  @include respond(tab-land) {
    margin-left: 0;
  }
}

.rsrv-btn {
  background-color: transparent;
  transform: translateX(10rem);
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 400;

  @include respond(tab-land) {
    transform: translate(0rem, 5rem);
  }
}

.make-reservation .btn:hover {
  background: #fff;
  color: black;
  border: solid 1px white;
}

.rsrv-btn {
  cursor: pointer;
}
