.our-menu {
  background-color: black;
  width: 100%;
  height: 110vh;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
  }
  @include respond(phone) {
    height: 180vh;
  }
}

.line-circle--menu {
  width: 10rem;
  transform: translate(18rem, -5rem);
}
.our-menu-text-box {
  margin-right: 10rem;
  align-self: center;
  transform: translateY(-5rem);
  z-index: 3;

  @include respond(tab-land) {
    text-align: center;
    margin-right: 0rem;

    transform: translateY(0rem);
  }
}

.our-menu-text-box .header-txt-black {
  color: white !important;
}

.txt-black {
  width: 500px;
}

.our-menu-imgs-box {
  width: 54rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  transform: translateY(5rem);

  @include respond(tab-land) {
    transform: translateY(0rem);
  }
  @include respond(phone) {
    transform: translateY(5rem);
    width: 100%;
  }
}

.menu-food {
  border-bottom: 1px solid rgba(158, 127, 102, 0.349);
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top: 0;
  }
}

.food-img {
  width: 13rem;

  @include respond(phone) {
    width: 60%;
  }
}

.line-food {
  width: 3.5rem;
  position: absolute;
  transform: translate(13rem, -10rem);
}

.food-txt-box {
  margin-left: 50px;

  @include respond(phone) {
    margin-left: 0;
    text-align: center;
  }
}

.food-header {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 15px;
}

.food-txt {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
  line-height: 1.6;
  transform: translateY(-40px);

  @include respond(phone) {
    transform: translateY(0);
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}
