.call-to-action {
  width: 100%;
  height: 115vh;
  background-image: url(/images/cta-bg-img.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.logo-box-cta {
  width: 10rem;
  margin-top: 8rem;
  margin-left: 17rem;
  display: inline-block;
}

.header {
  margin-top: 13rem;
  margin-left: 17rem;
}
