.footer {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  line-height: 2;
  letter-spacing: 2px;
}

.logo-box {
  width: 100px;
  top: 50%;
}

.address p {
  font-size: 0.9rem;
  transform: translate(150px, 20px);
}

.open-times p {
  font-size: 0.9rem;
  transform: translateY(20px);
}
