.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  display: inline-block;
  padding: 2rem 5rem;
  letter-spacing: 2px;
  text-align: center;
}

.black-btn {
  background: black;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: black;
  border: solid 1px black;
}

.btn:focus {
  outline: none !important;
}

.white-btn {
  font-size: 1.4rem;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border: solid 1px #fff;
  display: inline-block;
  padding: 2rem 5rem;
  letter-spacing: 2px;
  text-align: center;
  transition: ease-in;
  outline: none;
}

.white-btn:hover {
  background: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
}

.custom-btn2:hover {
  background: #fff;
  color: black;
  border: solid 1px white;
}

.custom-btn2:focus {
  outline: none !important;
}
